<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Plugins - add an installation of sci2 to complete it" sequenceNumber="10">
<locations>
<location path="${git_work_tree}/plugins" type="Directory"/>
</locations>
</target>
